body {
    background-color: #f8f9fa ;
}
.profile-image{
    width:50px;
    height:50px;
    border-radius:50%;
}
.navbar {
    display:flex;
    height: 90px;
    background: linear-gradient(to right, #00c853, #66bb6a);
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar a {
    color: white;
}
#imagePreview{
    height: 200px;
    width: 50%;
}
.card {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 15px;
}
.card img {
    border-radius: 10px;
}
.card button {
    margin-top: 10px;
    background-color: #00796b;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.services-title {
    margin-top: 50px;
    color: #1b5e20;
    font-weight: bold;
}
.service-card {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.btn{
    background-color: #ffffff;
    color: #00c853;
}
.btn:hover{
    background:#00c853;
    border: 2px solid white;
    color: white;

} 
.predict-btn{
    width: 50%;
}
.upload-section{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#imagePreview{
        background-image: url('Corn Detection/static/previewimage.jpg');
     width: 40%;
      margin-bottom: 20px;
       background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
         border: 1px solid #ddd;
}
.services-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:2rem;
    text-decoration: none;
}
.service-cards{
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;

}
/* }
.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}
#result:hover{
    background: #34495E;
    color: #39D2B4;
}
#result{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    /* border-top: 8px solid #3498db; /* Blue */
    /* border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */